/* page home */

section.home-servicos {
    padding: 50px 0;
}

section.home-servicos h2 {
    color: var(--color-3);
    text-align: center;
    font-weight: normal;
    margin-bottom: 50px;
}

.home-servicos-cards {
    display: flex;
    flex-wrap: wrap;
}

.servico-card {
    width: 33.3%;
    background: var(--color-4);
    padding: 25px;
    border: 5px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}

.servico-card-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid;
}

.servico-info h3 {
    color: var(--color-1);
    font-weight: normal;
    margin: 20px 0;
}

.servico-info p {
    color: var(--color-1);
    font-size: 14px;
}

.home-servico-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.home-servico-btn a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 25px;
    font-size: 14px;
    background: var(--color-1);
    color: var(--color-2);
}

section.home-equipe {
    padding: 50px 0;
    background: var(--color-1);
}

section.home-equipe h2 {
    color: var(--color-2);
    font-weight: normal;
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
}

.equipe-cards {
    display: flex;
    flex-wrap: wrap;
}

.equipe-card {
    width: 33.3%;
    padding: 20px;
    text-align: center;
}

.equipe-card-img img {
    max-width: 80%;
}

.equipe-card-info h3 {
    color: var(--color-2);
    font-size: 28px;
    font-weight: normal;
    text-align: center;
    margin: 20px 0;
}

.equipe-card-info p {
    color: var(--color-4);
    font-size: 14px;
}

.home-equipe-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.home-equipe-btn a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 25px;
    font-size: 14px;
    background: var(--color-3);
    color: var(--color-2);
}

section.home-info {
    padding: 50px 0;
}

.home-info-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home-info-text {
    width: 50%;
    color: var(--color-5);
}

.home-info-text h2 {
    font-weight: normal;
    font-size: 26px;
    margin-bottom: 30px;
}

.home-info-text p {
    font-size: 14px;
}

.home-info-img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.home-info-img img {
    max-width: 65%;
}

.home-info-btn {
    margin-top: 20px;
}

.home-info-btn a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 25px;
    font-size: 14px;
}

.info-btn-blue {
    background: var(--color-1);
    color: var(--color-2);
    margin-right: 15px;
}

.info-btn-border {
    border: 1px solid var(--color-3);
    color: var(--color-3);
}

.info-btn-border:hover {
    background: var(--color-3);
    color: var(--color-2);
    transition: all 0.5s;
}

section.home-sobre {
    padding: 50px 0;
}

.bg-sobre {
    width: 90%;
    background: var(--color-4);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.home-sobre-cont {
    display: flex;
    flex-wrap: wrap;
}

.home-sobre-img {
    width: 50%;
}

.home-sobre-img img {
    max-width: 100%;
}

.home-sobre-text {
    width: 50%;
    padding: 25px 10px 0 40px;
}

.home-sobre-text h2 {
    font-weight: normal;
    font-size: 26px;
    color: var(--color-3);
    text-align: center;
    margin-bottom: 40px;
}

.home-sobre-text p {
    font-size: 14px;
    color: var(--color-5);
    margin-bottom: 15px;
}

@media(max-width: 768px) {
    .servico-card {
        width: 50%;
    }

    .equipe-card {
        width: 50%;
    }

    .equipe-card-img img {
       max-width: 100%;
    }

    .home-info-text {
        width: 100%;
    }

    .home-info-img {
        width: 100%;
        justify-content: flex-start;
        margin-top: 30px;
    }

    .home-info-img img {
        max-width: 100%;
    }

    .bg-sobre {
        width: 100%;
        background: #fff;
    }

    .home-sobre-cont {
        background: var(--color-4);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        flex-direction: column-reverse;
    }

    .home-sobre-img {
        width: 100%;
    }

    .home-sobre-text {
        width: 100%;
        padding: 20px 20px 40px 20px;
    }

}


@media(max-width: 568px) {

    .home-servicos-cards {
        justify-content: center;
    }

    .servico-card {
        width: 100%;
        border: none;
    }

    .servico-card:not(:first-child) {
        margin-top: 20px;
    }

    .equipe-card {
        width: 100%;
    }
}